.input {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .textField {
    padding: 16px 18px;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    border-radius: 4px;
  }
}
